**/.dockerignore
**/.env
**/.git
**/.gitignore
**/.vs
**/.vscode
**/bin
**/obj
**/docker-compose.yml
**/docker-compose.*.yml
**/LICENSE
**/README.md
**/*\*
**/*\\*
**/bin\Debug
**/bin\\Debug
**/bin*Debug
src/Services/DocumentService/bin\Debug
